/* main css file */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Open Sans', sans-serif;
	background-color: #FBFAF5;
	/*background-color: #333;*/
	font-size: 1em;
	line-height: 1.5;
	overflow-x: hidden;
}

a {
	text-decoration: none;
}
li {
	list-style: none;
}

/* Flex container*/
.container {
	max-width: 1200px;
	margin: auto;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	margin-bottom: 2em;
}


.logo {
	margin-left: 1em;
	font-weight: bold;
	font-size: 1.3em;
}

.navbar {
	width: 100%;
	display: flex;
	align-items: center;
	top: 0px;
	border-radius: 15px;
    /*background-color: rgba(168, 168, 168, 0.8);*/
    background-color: rgba(255, 255, 255, 0.8);
	position: fixed;
	z-index: 1;

	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);

	transition: all 0.3s ease-in-out;
}

.nav-items {
	margin-left: 3em;
	display: flex;
}

.nav-items a {
	text-decoration: none;
	color: black;
	font-weight: bold;
}

.nav-items a:hover {
	color: blue;
}

.nav-items li {
	padding: 2em;
}

.wrapper {
	width: 100%;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.section {
	padding-top: 6em;
	margin-bottom: 0;
	flex: 1 0 40%;
}

.section-heading {
	color: rgb(65, 65, 65);
	font-weight: bold;
	font-size: 2em;
	font-style: italic;
	margin-bottom: 1em;
	text-align: center;
}


.experience {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.experience-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-bottom: 2em;
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;


	/* border */
	border: 1px solid #ccc;
	border-radius: 5px;
	box-shadow: 0px 0px 5px #ccc;

	/* padding */
	padding: 1em;

	/* background */
	background-color: #fff;

	/* text */
	color: #000;
	font-size: 1.2em;

	/* transition */
	transition: all 0.3s ease-in-out;
}

.experience-item:hover {
	box-shadow: 0px 0px 50px #ccc;
}

.experience-item-title {
	font-size: 1.2em;
	font-weight: bold;
	margin-bottom: 0.15em;
}

.experience-item-description {
	font-size: 1em;
	margin-bottom: 0.5em;
}

.experience-item-date {
	font-size: 0.8em;
	font-weight: lighter;
	margin-bottom: 1em;
}

.skill {
	max-width: 300px;
	flex: 1 0 28%;
	margin-left: 1em;
	margin-right: 1em;
	margin-bottom: 1em;
	padding: 1em;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-shadow: 0px 0px 5px #ccc;
	background-color: #fff;
	color: #000;
	font-size: 1.2em;
	transition: all 0.3s ease-in-out;
}

.skill:hover {
	box-shadow: 0px 0px 50px #ccc;
}

.skills-heading {
	/* center */
	text-align: center;
	margin-bottom: 1em;
	text-decoration: underline;
	font-style: italic;
	font-size: 1.5em;
}

.skill-projects {
	font-size: 0.8em;
}

.skill-projects ul {
	margin-left: 1em;
}

.skill-projects li {
	list-style-type: initial;
}

.skill-projects a {
	text-decoration: underline;
	color: black;
}

/* projects section */
.project {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 2em;
	margin-left: auto;
	margin-right: auto;
	/* border */
	border: 1px solid #ccc;
	border-radius: 5px;
	box-shadow: 0px 0px 5px #ccc;
	/* padding */
	padding: 1em;
	/* background */
	background-color: #fff;
	/* text */
	color: #000;
	font-size: 1.2em;
	/* transition */
	transition: all 0.3s ease-in-out;
}

.project:hover {
	box-shadow: 0px 0px 50px #ccc;
}

.project-title {
	font-size: 1.2em;
	font-weight: bold;
	margin-bottom: 0.15em;
}

.project-title a {
	text-decoration: underline;
	color: black;
}

.project-description {
	font-size: 1em;
	margin-bottom: 0.5em;
}

.contact {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 2em;
	margin-left: auto;
	margin-right: auto;
	/* border */
	border: 1px solid #ccc;
	border-radius: 5px;
	box-shadow: 0px 0px 5px #ccc;
	/* padding */
	padding: 1em;
	/* background */
	background-color: #fff;
	/* text */
	color: #000;
	font-size: 1.2em;
	/* transition */
	transition: all 0.3s ease-in-out;
}

@media (max-width: 850px) {
	.navbar {
		display: none;
	}
}