* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    scroll-behavior: smooth;
}

.first-view {
    position: absolute;
    top: 10%;
    min-height: calc(var(--vh, 1vh) * 100);
    width: 100%;
}


.background {
    /* image from https://www.pexels.com/photo/flock-of-birds-917494 */
    background: url(img/flock-of-birds-917494.jpg) no-repeat;
    background-size: cover;
    min-height: calc(var(--vh, 1vh) * 100);
}

.nav {
    width: fit-content;
    list-style: none;
    margin: auto;
    margin-bottom: 10vh;
    margin-top: -10vh;
}

.nav li {
    transition: all 0.3s ease 0s;
    font-size: 20px;
    display: inline-block;
    padding: 2.5vw;
}

.nav a {
    text-decoration: none;
    color: grey;
}

.nav a:hover {
    color: black;
}

.sticky {
    z-index: 1000000000;
    position: fixed;
}

.about {
    padding: 0 10vw 0 10vw;
    width: fit-content;
    margin: auto;
    font-size: larger;
    text-align: left;
    line-height: 45px;
}

.about p {
    margin-bottom: 2vh;
}



.learn-more {
    margin-top: 20px;
    margin-left: -4px;
    transition: all 0.3s ease 0s;
    text-decoration: none;
    color: white;
    background-color: #5290f2;
    padding: 2vh;
    border-radius: 30px;
}

.learn-more:hover {
    font-size: 2.2vh;
}

.skills-bg {
    min-height: calc(var(--vh, 1vh) * 100 * 1.5);
    /* image from https://www.pexels.com/photo/snow-covered-mountain-1428277/ */
    background: url(img/snow-covered-mountain-1428277.jpg) no-repeat;
    background-size: cover;
}

.skills-wrapper {
    position: absolute;
    min-height: calc(var(--vh, 1vh) * 100 * 1.5);
    width: 100%;
    top: calc(var(--vh, 1vh) * 100);
    color: white;
}

.skills {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.skills h2 {
    width: fit-content;
    margin: auto;
    margin-top: 6vh;
    text-align: center;
    font-size: 5.2vh;
    border-bottom: 3px solid #8cb8ff;
}

.skills div {
    border-bottom: 3px solid #8cb8ff;
    -webkit-box-shadow: 6px 4px 18px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 4px 18px 2px rgba(0,0,0,0.75);
    box-shadow: 6px 4px 18px 2px rgba(0,0,0,0.75);
    margin-top: 3vh;
    display: inline-block;
    line-height: 4vh;
    font-size: 2.2vh;
    margin-left: 10vw;
    margin-right: 10vw;
    padding: 10px;
    background: rgba(128, 128, 128, 0.4); 
}

.skills div h3 {
    width: fit-content;
    font-size: 2.4vh;
    padding: 10px;
    padding-bottom: 0px;
    border-bottom: 3px solid black;
}

.Python {
    text-align: initial;
}

.Python li, .Python ul {
    margin-left: 10px;
}

.other {
    text-align: initial;
}

.other li, .other ul {
    margin-left: 10px;
}

/* PROJECTS NEEDS WORK, MAKE LIKE SKILLS */

.projects-bg {
    min-height: calc(var(--vh, 1vh) * 100 * 2.5);
    /* image from https://www.pexels.com/photo/macro-shot-of-wooden-planks-326333/ */
    background: url(img/fogs-on-green-mountain-1054222.jpg) no-repeat;
    background-size: cover;
}

.projects-wrapper {
    position: absolute;
    top: calc(var(--vh, 1vh) * 100 * 2.5);
    min-height: calc(var(--vh, 1vh) * 100 * 2.5);
    width: 100%;
}

.projects {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.projects h2 {
    margin-left: 10vw;
    width: fit-content;
    color: white;
    margin: auto;
    margin-top: 6vh;
    font-size: 5.2vh;
    border-bottom: 3px solid #8cb8ff; 
}

.project {
    margin-left: 1vw;
    margin-right: 1vw;
    margin-top: 8vh;
    max-width: 40vw;
    min-width: 500px;
    vertical-align: top;
    border-bottom: 3px solid #8cb8ff;
    -webkit-box-shadow: 6px 4px 18px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 4px 18px 2px rgba(0,0,0,0.75);
    box-shadow: 6px 4px 18px 2px rgba(0,0,0,0.75);
    line-height: 3vh;
    color: white;
    font-size: 2.2vh;
    padding: 15px;
    display: inline-block;
    background: rgba(128, 128, 128, 0.7); 
}

.project h3 {
    width: fit-content;
    border-bottom: 3px solid black;
    font-size: 2.4vh;
    padding: 10px;
    padding-bottom: 0;
}

.project p {
    font-size: 2vh;
    text-align: left;
    padding-top: 20px;
}

.project a {
    background-color: white;
    border-radius: 10px;
    text-decoration: none;
    color: black;
    padding: 5px;
    font-size: 2vh;
}

.project a:hover {
    color: white;
    background-color: black;
}

.project img, iframe {
    width: 90%;
    height: 90%;
}

.contact {
    text-align: left;
    margin-left: 5vw;
    margin-top: 10vh;
    line-height: 5vh;
    color: white;
}

.contact h2 {
    font-size: 4vh;
    margin: initial;
}

@media only screen and (max-width: 1080px) {
    .projects-wrapper, .projects-bg {
        min-height: calc(var(--vh, 1vh) * 100 * 4.3);
    }

    .project {
        max-width: 70vw;
    }
}

@media only screen and (max-width: 414px) {
    .background {
        filter: blur(8px);
        -webkit-filter: blur(8px);
    }

    .nav {
        display: none;
    }

    .about {
        padding-top: 7vh;
    }

    .skills-bg, .skills-wrapper {
        min-height: calc(var(--vh, 1vh) * 100 * 2);
    }

    .project {
        min-width: 90vw;
    }

    .projects-wrapper, .projects-bg {
        top: calc(var(--vh, 1vh) * 100 * 3);
        min-height: calc(var(--vh, 1vh) * 100 * 4);
    }
}











